body {
  font-family: 'Fira Sans', sans-serif;
  background: #F8F9F9;
}

.top-line {
  height: 4px;
  width: 100%;
  background: rgba(222,38,134,1);
  background: -moz-linear-gradient(left, rgba(222,38,134,1) 0%, $orange 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,38,134,1)), color-stop(100%, $orange));
  background: -webkit-linear-gradient(left, rgba(222,38,134,1) 0%, $orange 100%);
  background: -o-linear-gradient(left, rgba(222,38,134,1) 0%, $orange 100%);
  background: -ms-linear-gradient(left, rgba(222,38,134,1) 0%, $orange 100%);
  background: linear-gradient(to right, rgba(222,38,134,1) 0%, $orange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de2686', endColorstr='#e37d22', GradientType=1 );
  z-index: 300;
}

.logo-auth {
  width: 265px;
  display: block;
  margin: 0 auto 15px;
}

.navbar-laravel {
  position: relative;
  width: 100%;
  height: 60px;
  background: #FFF;
  line-height: 60px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  z-index: 200;
  margin-bottom: 25px;
}

.btn-group, .btn-group-vertical {
  float: left;
}

div.dataTables_wrapper div.dataTables_info {
  float: left;
}

.dataTables_length {
  float: left;
}

.DTFC_ScrollWrapper {
  margin-bottom: 20px;
}

.DTFC_RightBodyLiner {
  overflow: hidden !important;
}

.table-responsive {
  overflow: hidden;;
}
